html,
body,
* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
.header {
  background-color: black;
  height: 90vh;
  border: solid 3px darkslategrey;
}
.header-title {
  color: green;
  font-size: 10rem;
  text-align: center;
}
.second-page {
  padding-top: 10rem;
  margin-top: 10vh;
  background-color: black;
  height: 100vh;
}
.songs-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.album-covers {
  display: flex;

  height: 30rem;
  width: 30rem;
}

.image-col {
  display: flex;
  justify-content: space-around;
}
.steven {
  margin-top: 3rem;
  border: black 2px solid;
}
.song-info {
  color: darkgreen;
  font-size: 10rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-shrink: initial;
}
