html,
body,
* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: darkgreen;
}
.header {
  padding-top: 5rem;
  background-color: black;
  height: 90vh;
}
.header-title {
  color: green;
  font-size: 10rem;
  text-align: center;
  background-color: black;
}
.second-page {
  padding-top: 10rem;
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.card {
  justify-content: space-around;
}
.card-header {
  background-color: black;
  text-align: center;
  font-size: 7rem;
  color: green;
  border: 5px solid darkgreen;
}

.card-img {
  height: 50vh;
  width: 25vw;
}
.third-page {
  display: flex;
  flex-direction: column;
  background-color: darkgreen;
  height: 100vh;
}
.next-page {
  padding-top: 10rem;

  display: flex;
  justify-content: space-around;
  background-color: black;
}
.final-page {
  padding-top: 10rem;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-around;
  background-color: black;
  margin-bottom: 10vh;
}
